@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:ital,wght@0,300;0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:ital,wght@0,300;0,500;1,300&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: aliceblue;
    gap: 25px;
    border: 1px solid red;
    padding: auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100vw;
    background-color: #5163D3;
}

#logo {
    height: 60%;
}

.principal {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    padding: 25px;
    width: 100vw;
    height: 385px;
    background-image: url("../img/image\ 3.png");
    opacity: 0.90;
    backdrop-filter: blur(4px);
}

.divTemaPrincipal {
    width: 63px;
    height: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 10px;
    gap: 10px;
    background: #FFFFFF;
    border-radius: 4px;
}

.temaPrincipal {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #5163D3;
}

#tituloPrincipal {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 110%;
    color: #FFFFFF;
}

footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 1005;
    background: #EEEEEE;
    text-align: center;
}

#fonteFooter {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #1B1C1E;
}

#SectionArtigos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    border: 1px solid blueviolet;
    margin: auto;
    gap: 10px
}

.divMateria {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    height: 180px;
    background: #FFFFFF;
    /* Cinza */
    border: 1px solid #EEEEEE;
    box-shadow: 3px 3px 5px rgba(27, 28, 30, 0.1);
    border-radius: 4px;
    padding: 20px;
    box-sizing: border-box;
    gap: 10px;
}

.divCategoria {
    width: 30%;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    gap: 10px;
    background: #D7E4FB;
    border-radius: 4px;
}

.tituloCategoria {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #5163D3;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.titulo {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 110%;
    color: #5163D3;
}

.resumo {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #1B1C1E;
}

.fonte {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: #1B1C1E;
}

@media (min-width: 700px) {
    #SectionArtigos {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin: auto;
        border: 1px solid red;
    }
    .divMateria {
        width: 40%;
        flex-direction: row;
    }
    .imgFull {
        width: 270px;
        height: 180px;
    }
}